# ------------------------------------------------------------------------------------------ #
#                                                                                            #
#                Copyright (c) 2021 - Gilles Freart. All right reserved                      #
#                                                                                            #
#  Licensed under the MIT License. See LICENSE in the project root for license information.  #
#                                                                                            #
# ------------------------------------------------------------------------------------------ #

network:
    ethernets:
        {{ clusters.definition[cluster_name].network.iface_external }}:
            dhcp4: false
            dhcp6: false
    version: 2
