# ------------------------------------------------------------------------------------------ #
#                                                                                            #
#                Copyright (c) 2021 - Gilles Freart. All right reserved                      #
#                                                                                            #
#  Licensed under the MIT License. See LICENSE in the project root for license information.  #
#                                                                                            #
# ------------------------------------------------------------------------------------------ #

network:
    ethernets:
        {{ clusters.definition[cluster_name].network.external.iface }}:
            dhcp4: false
            dhcp6: false
{% if clusters.definition[cluster_name].network.external.gateway is defined %}
            routes:
            - to: {{ clusters.definition[cluster_name].network.external.network_cidr }}
              via: {{ clusters.definition[cluster_name].network.external.gateway }}
{% endif %}
    version: 2
